services:
  superset:
    build: .
    image: superset-trino:3.1.0
    container_name: superset
    restart: unless-stopped
    ports:
      - "8088:8088"
    environment:
      SUPERSET_SECRET_KEY: "change_me_to_a_long_random_string"
    volumes:
      - .:/app
    command: >
      bash -lc "
      superset db upgrade &&
      superset fab create-admin
        --username admin
        --firstname Admin
        --lastname User
        --email admin@superset.com
        --password admin || true &&
      superset init &&
      superset run -h 0.0.0.0 -p 8088
      "