# MinIO creds used by scripts & docker compose
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123

# Scripts can also read these:
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin123
MINIO_SECURE=false

# CDC consumer
KAFKA_BOOTSTRAP=localhost:9092
CDC_TOPIC=pgserver1.public.customers
